.products-n-filters {
    position: relative;
    height: 80vh;
    display: flex;
    margin: auto;
    width: 95%;
    padding-bottom: 1.5rem;
}

.search-bar {
    margin-top: 1rem;
    width: 80%;
    display: flex;
    justify-content: flex-end;
    height: 1.65rem;
}

.clear-filters-btn {
    height: 1.65rem;
    padding: .3rem;
    width: 14%;
    border-radius: 3px;
    margin-right: .3rem;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


.search-bar input {
    height: 100%;
    width: 100%;
    padding: 5px;
}

.filter-btn-mobile {
    display: none !important;
}

.search-icon {
    height: 100% !important;
    border-radius: 0 5px 5px 0 !important;
}

.search-bar-area {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

@media screen and (max-width: 600px) {
    .clear-filters-btn {
        display: none;
    }

    .search-bar {
        width: 100%;
    }
    
    .search-bar input {
        width: 100%;
    }

    .mobile-filter-container {
        position: relative;
    }

    .filter-active {
        position: absolute;
        height: .38rem;
        width: .38rem;
        border-radius: 50%;
        background-color: red;
        top: 2px;
        right: 4px;
        z-index: 2;
    }

    .filter-btn-mobile {
        display: block !important;
        cursor: pointer;
    }
}