.cart-item {
    width: 100%;
    height: 11rem;
    border-radius: 7px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-bottom: 1.2rem;
}

/* Cart Item Image */
.cart-item-img {
    height: 65%;
    width: 100%;
    overflow: hidden;
}

.cart-item-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Cart Item Details */
.cart-item-details {
    width: 100%;
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

h4 {
    margin: 0;
}

.detail-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/* Additional Details for bigger screens */
.additional-details {
    display: none;
}

.remove-item {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: red;
    height: 1.5rem;
    padding: 0 5px;
}

@media screen and (min-width: 600px) {
    .cart-item {
        flex-direction: row;
        height: 10rem;
    }

    .cart-item-img, .cart-item-details {
        flex: 50%;
    }

    .cart-item-img {
        height: 100%;
    }

    .cart-item-details {
        padding: 1rem;
        justify-content: flex-start;
        height: 100%;
        gap: 1rem;
    }

    .detail-row:nth-child(1) {
        flex-direction: column;
        align-items: flex-start;
        gap: .2rem;
    }

}

@media screen and (min-width: 992px) {
    .additional-details {
        display: block;
        color: grey;
    }

    .additional-details ul {
        font-weight: 500;
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .additional-details li {
        display: inline-block;
    }

    .additional-details li:nth-of-type(1) {
        list-style-type: none;
    }
}