.qty-control-button {
    display: flex;
    width: 5rem;
    height: 1.5rem;
}

.qty-control-button button {
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.qty-control-button > * {
    flex-grow: 2;
}

.qty-control-button span{
    display: inline-block;
    text-align: center;
}